* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.background {
  width: 100%;
}
button {
  position: fixed;
  top: 40px;
  background-color: transparent;
  font-size: 20px;
  color: white;
  border: 1px white solid;
  animation: btn 3s alternate infinite;
  -webkit-animation: btn 3s alternate infinite;
}
.btn1 {
  left: 30px;
}
.btn2 {
  right: 30px;
}
.btn:hover{
  background-color: white;
  color: rgb(0, 174, 255);
}

@keyframes btn {
  0% {
    padding: 8px 3px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
  }

  100% {
    padding: 8px 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
.shark{
    width: 50px;
}
h1 {
  color: white;
  font-size: 50px;
  position: fixed;
  
  top: 50%;
  width: 100%;
  text-align: center;
  animation: moveh1 2s infinite;

  -webkit-animation: moveh1 2s infinite alternate;
}
@keyframes moveh1 {
  to {
    transform: translateY(0px);
  }
  from {
    transform: translateY(30px);
    -webkit-transform: translateY(30px);
    -moz-transform: translateY(30px);
    -ms-transform: translateY(30px);
    -o-transform: translateY(30px);
  }
}

.bubble {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: -250px;
  width: 100%;
  
}
.img {
  display: inline-block;
  width: 20px;
  height: 20px;
}
@keyframes bubbles {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -800px);
    opacity: 0;
    -webkit-transform: translate(0, -800px);
    -moz-transform: translate(0, -800px);
    -ms-transform: translate(0, -800px);
    -o-transform: translate(0, -800px);
}
}

.img1 {
  width: 20px;
  height: 20px;
  animation: bubbles 5s  infinite linear;

}
.img2 {
  width: 90px;
  height: 90px;
  animation: bubbles 7s linear  infinite;
}
.img3 {
  width: 25px;
  height: 25px;
  animation: bubbles 9s linear  infinite;
 
}
.img4 {
  width: 15px;
  height: 15px;
  animation: bubbles 6s linear infinite;
 
}
.img5 {
  width: 60px;
  height: 60px;
  animation: bubbles 10s linear  infinite;
  
}
.img6 {
  width: 30px;
  height: 30px;
  animation: bubbles 4s linear  infinite;

}
.img7 {
  width: 20px;
  height: 20px;
  animation: bubbles 8s linear  infinite;
 
}
.img8 {
  width: 35px;
  height: 35px;
  animation: bubbles 3s linear  infinite;
  
}
.img9 {
  width: 80px;
  height: 80px;
  animation: bubbles 6s linear  infinite;
  
}
.img10 {
  width: 45px;
  height: 45px;
  animation: bubbles 3s linear  infinite;
  
}
